:root {
    --color-principal: rgb(108, 93, 248);
    --color-secundario: #000000;
    --color-texto: #ffffff;
    --color-fondo: rgb(108, 93, 248);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    text-align: center;
    padding: 20px;
}

#titulo-principal {
    margin: 0;
}

.navbar {
    background-color: #222222;
    padding: 15px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar a:hover {
    color: rgb(108, 93, 248);
    font-size: 18px;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.inicio {
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-image: url("img/perfil.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 500px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    text-align: left;
    color: rgb(77, 69, 43);

    padding: 10px;
    margin: 0;
}

.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(108, 93, 248);
}

.inicio article {
    max-width: 800px;
}

.sobre-mi{
    width: 80%;
    margin: 40px auto;
    line-height: 1.8;
}

.sobre-mi h2,
.sobre-mi h3{
    color: var(--color-principal);
}

.proyectos {
    text-align: center;
    padding: 40px;
    border-bottom: 3px solid #cccccc;
}

.contenedor-proyectos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}


.habilidades {
    text-align: center;
    padding: 40px;
    border-bottom: 3px solid #cccccc;
}

.contenedor-habilidades {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.habilidad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidad img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.habilidad p {
    margin-top: 10px;
    font-weight: bold;
}

.habilidades-detalle{
    width: 90%;
    margin: 40px auto;
}

.habilidades-detalle h2{
    text-align: center;
    margin-bottom: 40px;
}

.habilidad{
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}

.habilidad img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.habilidad h3{
    margin: 15px 0;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.habilidad{
    transition: .4s;
    cursor: pointer;
}

.habilidad img{
    transition: .4s;
}

.habilidad:hover{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,.3);
}

.habilidad:hover img{
    transform: rotate(360deg);
}

.habilidad:hover h3,
.habilidad:hover p{
    color: #000000;
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.texto-presentacion{
    flex: 1;
}

.imagen-presentacion img{
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}

.objetivos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.texto-objetivos{
    flex: 1;
}

.imagen-objetivos img{
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}